$blue-medium-dark: #142945;
$blue-dark: #0C142D;

$gradient-bright-color-1: rgba(196,205,255,0.5);
$gradient-bright-color-2: rgba(18,107,255,0.5);

$gradient-light-color-1: rgba(216,224,255,1);
$gradient-light-color-2: rgba(99,163,216,1);
